# Data structures 
## Video 8.1

In [12]:
friends = ['Joseph', 'Glenn', 'Sally']

In [3]:
for friend in friends:
    print('Happy New Year', friend)

Happy New Year Joseph
Happy New Year Glenn
Happy New Year Sally

In [4]:
for i in range(len(friends)):
    friend = friends[i]
    print('Happy New Year', friend)
# if we need to know where in list friend is, we have to use summat like this

Happy New Year Joseph
Happy New Year Glenn
Happy New Year Sally

## Video 8.2

In [2]:
a = [1, 2, 3]
b = [4, 5, 6]
ab = a + b
print(ab)

[1, 2, 3, 4, 5, 6]

In [39]:
t = [9, 7, 6, 3, 2, 1]
t[1]
t[1:]
len(t)

6

In [46]:
t[1:3]

[7, 6]

In [9]:
9 in t

False

In [8]:
12 in t

False

In [10]:
20 not in t

True

In [13]:
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']

In [15]:
t.sort()
print(t)

[1, 2, 3, 6, 7, 9]

In [16]:
print(len(t))

6

In [17]:
print(sum(t))

28

In [18]:
print(sum(t)/len(t))

4.666666666666667

In [19]:
print(max(t))

9

In [20]:
print(min(t))

1

In [22]:
stuff = list()
stuff.append('book')
print(stuff)

['book']

In [23]:
stuff.append('cookie')
print(stuff)

['book', 'cookie']

## Video 8.3

In [24]:
abc = "with three words"

In [26]:
stuff = abc.split()
print(stuff)

['with', 'three', 'words']

In [27]:
print(len(stuff))

3

In [28]:
print(stuff[0])

with

In [29]:
for w in stuff:
    print(w)
# split and then for loop

with
three
words

In [32]:
line = 'first;second;third'
new_line = line.split(';') # specify delimiter - spaces by default
print(new_line)

['first', 'second', 'third']

In [34]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    print(words[2])

Sat
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Fri
Thu
Thu
Thu
Thu
Thu
Thu

In [35]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()
    if not line.startswith('From '): continue
    words = line.split()
    email = words[1]
    pieces = email.split('@')
    print(pieces[1])

uct.ac.za
media.berkeley.edu
umich.edu
iupui.edu
umich.edu
iupui.edu
iupui.edu
iupui.edu
umich.edu
umich.edu
umich.edu
umich.edu
iupui.edu
umich.edu
caret.cam.ac.uk
gmail.com
uct.ac.za
uct.ac.za
uct.ac.za
uct.ac.za
uct.ac.za
media.berkeley.edu
media.berkeley.edu
media.berkeley.edu
iupui.edu
iupui.edu
iupui.edu

In [36]:
t[2:2]

[]

# Book

In [47]:
numbers = [4, 5, 12, 82]
for i in range(len(numbers)):
    numbers[i] = 2 * numbers[i]
print(numbers)

[8, 10, 24, 164]

In [52]:
# to delete stuff, use pop
t = ['a', 'b', 'c']
x = t.pop(1)
print(x)
print(t)

b
['a', 'c']

In [53]:
#If you donâ€™t need the removed value, you can use the del operator:
t = ['a', 'b', 'c']
del t[1]
print(t)

['a', 'c']

In [54]:
# If you know the element you want to remove (but not the index), you can use remove
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

In [2]:
# To convert from a string to a list of characters, you can use list:
s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [3]:
# If an aliased object is mutable, changes made with one alias affect the other:
a = [1, 2, 3]
b = a
b is a

True

In [4]:
# If an aliased object is mutable, changes made with one alias affect the other:
b[0] = 17
print(a)

[17, 2, 3]

In [5]:
#the append method modifies a list, but the + operator creates a new list:
t1 = [1, 2]
t2 = t1.append(3)
print(t1)

[1, 2, 3]

In [6]:
print(t2)

None

In [7]:
t3 = t1 + [3]
print(t3)

[1, 2, 3, 3]

In [8]:
t2 is t3

False

In [9]:
def delete_head(t): 
    del t[0]

In [10]:
def bad_delete_head(t):
    t = t[1:] # WRONG!
#The slice operator creates a new list and the assignment makes t refer to it, but none of that has any effect on the list that was passed as an argument.

In [ ]:
def tail(t): 
    return t[1:]
# creates and returns a new list, leaves original unmodified